<!DOCTYPE html>
<html>
  <head>
    <title>Something Crazy</title>
    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body>
    <h1>Something Crazy</h1>
    <p>{{phrase}}</p>
    <form method='get' action='/crazy'>
      <input type='submit' value='Refresh'>
    </form>
    <form method='get' action='/'>
      <input type='submit' value='Return to Main'>
    </form>


    <table>
      <tr>
        <td>
          <a href="/work">Work</a>

        </td>
        <td>
          <a href="/school">School</a>

        </td>
        <td>
          <a href="/exercise">Exercise</a>

        </td>
        <td>
          <a href="/musci">Music</a>

        </td>
        <td>
          <a href="/home">Home</a>

        </td>
        <td>
          <a href="/stress">Stressed</a>

        </td>
        <td>
          <a href="/chill">Just Chill</a>

        </td>
        <td>
          <a href="/crazy">Something Crazy</a>

        </td>
      </tr>
    </table>

  </body>
</html>
