<!DOCTYPE html>
<html>
  <head>
    <title>Something Crazy</title>
    <link href="/styles/action_style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <a href="/"><img src="images/toucan.png"></a>

    <div>
      <h1>Something Crazy</h1>
      {% if phrase== 'Go skydiving!' %}
        <p>{{phrase}} (check <a id="Link" href="http://www.skydiving.com/" target="_blank">here</a> for more information)</p>
      {% elif phrase== 'Take a hike.' %}
        <p>{{phrase}} (check <a id="Link" href="http://www.americanhiking.org/" target="_blank">here</a> for more information)</p>
      {% elif phrase== 'Swim with dolphins.' %}
        <p>{{phrase}} (check <a id="Link" href="http://www.minitime.com/trip-tips/6-Places-to-Swim-with-Dolphins-article" target="_blank">here</a> for more information)</p>
      {% else %}
        <p>{{phrase}}</p>
      {% endif %}
    </div>

  <a href="/"><img id="left" src="images/back_arrow.png"></a>
  <a href="/crazy"><img id="refresh" src="images/refresh.png"></a>

    <table>
      <tr>
        <td>
          <a href="/work">Work</a>
        </td>

        <td>
          <a href="/school">School</a>
        </td>

        <td>
          <a href="/exercise">Exercise</a>
        </td>

        <td>
          <a href="/music">Music</a>
        </td>

        <td>
          <a href="/home">Home</a>
        </td>

        <td>
          <a href="/stress">Stressed</a>
        </td>

        <td>
          <a href="/chill">Just Chill</a>
        </td>

        <td>
          <a href="/crazy">Something Crazy</a>
        </td>
      </tr>
    </table>

  </body>
</html>
