<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <link href="/styles/action_style.css" rel="stylesheet" type="text/css">

    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body>

    <a href="/"><img id='toucan' src="images/toucan.png"></a>

    <form method="post" action="/exercise">
      <p> Suggest your own action for consideration:<input type="text" name="suggestion"></p>
      <input type="submit">
    </form>

    <div>
      <h1>Exercise</h1>
        {% if phrase == 'Watch some workout motivation videos on ' %}
          <p>{{phrase}}<a id="Link" href="https://www.youtube.com/" target="_blank">YouTube</a>.</p>
        {% else %}
          <p>{{phrase}}</p>
        {% endif %}
        <a href="/exercise"><img id="refresh" src="images/refresh.png"></a>
    </div>

    <a href="/"><img id="left" src="images/back_arrow.png"></a>

    <table>
      <tr>
        <td onclick="location.href='work'">Work</td>
        <td onclick="location.href='school'">School</td>
        <td onclick="location.href='exercise'">Exercise</td>
        <td onclick="location.href='home'">Stay Home</td>
        <td onclick="location.href='music'">Listen to Music</td>
        <td onclick="location.href='stress'">Stressed</td>
        <td onclick="location.href='chill'">Just Chill</td>
        <td onclick="location.href='crazy'">Something Crazy</td>
      </tr>
    </table>

  </body>
</html>
