<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <link href="/styles/exercise_style.css" rel="stylesheet" type="text/css">

    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body id='index'>

    <img width:"50" src="images/logo.png">
    <center>
    <h1>Exercise</h1>

    <p>{{phrase}}</p>
    <form method='get' action='/exercise'>
      <input type='submit' value='Refresh'>
    </form>
    <form method='get' action='/'>
      <input type='submit' value='Return to Main'>
    </form>
  </center>

    <table>
      <tr>
        <td>
          <a href="/work">Work</a>
        </td>
        <td>
          <a href="/school">School</a>
        </td>
        <td>
          <a href="/exercise">Exercise</a>
        </td>
        <td>
          <a href="/music">Music</a>
        </td>
        <td>
          <a href="/home">Stay Home</a>
        </td>
        <td>
          <a href="/stress">Strees</a>
        </td>
        <td>
          <a href="/chill">Just Chillin'</a>
        </td>
        <td>
          <a href="/crazy">Something Crazy</a>
        </td>
      </tr>
    </table>


  </body>
</html>
