<!DOCTYPE html>
<html>
  <head>
    <title>Today.</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- <script src="/js/ajax.js"></script> -->
  </head>

  <body id='index'>
    <img src="images/logo.png">

  <center>  <table> </center>
      <tr>
        <td>
          <form id="button" method='post' action="/work">
            <input id="small-button" type='submit' value='Work'>
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/school">
            <input type='submit' id="small-button" value='School'>
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/exercise">
            <input type='submit' id="small-button" value='Exercise'>
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/music">
            <input type='submit' id="small-button" value='Music'>
          </form>
        </td>

      </tr>

      <tr>
        <td>
          <form id="button" method='post' action="/home">
            <input type='submit' id="small-button" value='Stay Home'>
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/stress">
            <input type='submit' id="small-button" value='Stressed'>
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/chill">
            <input type='submit' id="small-button" value="Just Chillin'">
          </form>
        </td>

        <td>
          <form id="button" method='post' action="/crazy">
            <input type='submit' id="small-button" value='Something Crazy'>
          </form>
        </td>

      </tr>
    </table>

  </body>
</html>
