<!DOCTYPE html>
<html>
  <head>
    <title>Today.</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <!-- <script src="/js/ajax.js"></script> -->
  </head>

  <body id='index'>
    <h1>Main Page</h1>

    <table>
      <tr>
        <td>
          <form id="button" method='post' action="/work">
            <input type='submit' value='Work'>
          </form>
        </td>

        <td>
          <form method='post' action="/school">
            <input type='submit' value='School'>
          </form>
        </td>

        <td>
          <form method='post' action="/exercise">
            <input type='submit' value='Exercise'>
          </form>
        </td>

        <td>
          <form method='post' action="/music">
            <input type='submit' value='Music'>
          </form>
        </td>

      </tr>

      <tr>
        <td>
          <form method='post' action="/home">
            <input type='submit' value='Stay Home'>
          </form>
        </td>

        <td>
          <form method='post' action="/stress">
            <input type='submit' value='Stressed'>
          </form>
        </td>

        <td>
          <form method='post' action="/chill">
            <input type='submit' value="Just Chillin'">
          </form>
        </td>

        <td>
          <form method='post' action="/crazy">
            <input type='submit' value='Something Crazy'>
          </form>
        </td>

      </tr>
    </table>

  </body>
</html>
