<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <link href="/styles/action_style.css" rel="stylesheet" type="text/css">

    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body>
    <a href="/"><img src="images/toucan.png"></a>
    <div>
      <h1>Music</h1>
      {% if phrase=="Start singing for fun!" or phrase=="Try to learn how to play an instrument." %}
        <p>{{phrase}}</p>
      {% else %}
        <p>(Our source for music genres can be found<a id="Link" href="http://www.musicgenreslist.com/" target="_blank"> here)</a></p>
        <p>{{phrase}}</p>
      {% endif %}
    </div>


    <a href="/"><img id="left" src="images/back_arrow.png"></a>
    <a href="/music"><img id="refresh" src="images/refresh.png"></a>

    <table>
      <tr>
        <td onclick="location.href='work'">Work</td>
        <td onclick="location.href='school'">School</td>
        <td onclick="location.href='exercise'">Exercise</td>
        <td onclick="location.href='home'">Stay Home</td>
        <td onclick="location.href='music'">Listen to Music</td>
        <td onclick="location.href='stress'">Stressed</td>
        <td onclick="location.href='chill'">Just Chill</td>
        <td onclick="location.href='crazy'">Something Crazy</td>
      </tr>
    </table>

  </body>
</html>
