<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body>
    <h1>Music</h1>
    <p id="makeTiny">(Our source for music genres can be found<a href="http://www.musicgenreslist.com/" target="_blank"> here)</a></p>
    <p>{{phrase}}</p>

    <form method='get' action='/music'>
      <input type='submit' value='Refresh'>
    </form>

    <form method='get' action='/'>
      <input type='submit' value='Return to Main'>
    </form>


    <table>
      <tr>
        <td>
          <a href="/work">Work</a>
        </td>
        <td>
          <a href="/school">School</a>
        </td>
        <td>
          <a href="/exercise">Exercise</a>
        </td>
        <td>
          <a href="/music">Music</a>
        </td>
        <td>
          <a href="/home">Stay Home</a>
        </td>
        <td>
          <a href="/stress">Strees</a>
        </td>
        <td>
          <a href="/chill">Just Chillin'</a>
        </td>
        <td>
          <a href="/crazy">Something Crazy</a>
        </td>
      </tr>
    </table>

  </body>
</html>
