<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <link href="/styles/work_style.css" rel="stylesheet" type="text/css">

    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>

  <body id='index'>

      <a href="/"><img width:"50" src="images/logo.png"></a>

    <center>
    <h1>School</h1>

    <p>{{phrase}}</p>
  <!--  <form method='get' action='/school'>
      <input type='submit' value='Refresh'>
    </form>-->
  </center>

  <a href="/"><img id="left" src="images/back_arrow.png"></a>
  <a href="/school"><img id="refresh" src="images/refresh.png"></a>

    <table>
      <tr>
        <td>
          <a href="/work">Work</a>
        </td>

        <td>
          <a href="/school">School</a>
        </td>

        <td>
          <a href="/exercise">Exercise</a>
        </td>

        <td>
          <a href="/music">Music</a>
        </td>

        <td>
          <a href="/home">Stay Home</a>
        </td>

        <td>
          <a href="/stress">Strees</a>
        </td>

        <td>
          <a href="/chill">Just Chillin'</a>
        </td>

        <td>
          <a href="/crazy">Something Crazy</a>
        </td>
      </tr>
    </table>

  </body>
</html>
