<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <!-- Pull in our CSS and JS.
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/ajax.js"></script> -->
  </head>
  <body>
    <h1>Work</h1>
    <p>{{phrase}}</p>
    <form method='get' action='/work'>
      <input type='submit' value='Refresh'>
    </form>
    <form method='get' action='/'>
      <input type='submit' value='Return to Main'>
    </form>

    <table>
      <tr>
        <td>
          <form method='post' action="/work">
            <input type='submit' value='Work'>
          </form>
        </td>
        <td>
          <form method='post' action="/school">
            <input type='submit' value='School'>
          </form>
        </td>
        <td>
          <form method='post' action="/exercise">
            <input type='submit' value='Exercise'>
          </form>
        </td>
        <td>
          <form method='post' action="/music">
            <input type='submit' value='Music'>
          </form>
        </td>
        <td>
          <form method='post' action="/home">
            <input type='submit' value='Stay Home'>
          </form>
        </td>
        <td>
          <form method='post' action="/stress">
            <input type='submit' value='Stressed'>
          </form>
        </td>
        <td>
          <form method='post' action="/chill">
            <input type='submit' value="Just Chillin'">
          </form>
        </td>
        <td>
          <form method='post' action="/crazy">
            <input type='submit' value='Something Crazy'>
          </form>
        </td>
      </tr>
    </table>

    
  </body>
</html>
