@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

#index #refresh{
  width: 3%;
  padding-left: 150px;
  }

#index #left{
  position: absolute;
  left: 1%;
  width: 3%;
}

#index img{
  position: relative;
  width: 26%;
  left: 37%;
}

#index table{
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 25%;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}
#index a:link{
  text-decoration: none;
  color: black;
  bottom: 0px;
}

#index a:visited{
  text-decoration: none;
  color: black;
}

#index #Link{
  text-decoration: underline;
  color: blue;
  bottom: 0px;
}

table{
  bottom: 0px;
}
