
#button {
  width: 50px;
  height: 50px;
  padding:10px;
  background-color: blue;
  border: 1px solid pink;
  color:green;
  text-decoration:none;
}
#small-button {
  padding-top: 16px;
  background-color: blue;
  border: 0px;
  color:orange;
  text-decoration:none;
  text-align: center;
}
table{
  transform: translateY(200%);

#index img{
  position: relative;
  width: 26%;
  left: 37%;
}
